@font-face {
    font-family: 'voltagem';
    src: url('fonts/HighVoltage\ Rough.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



/* 
Tipos de format()
-opentype(otf)
-truetype(ttf)
-embedded-opentype
-truetype-att (Apple advance Typography)
-svg
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(196, 201, 166);

}

#texto {
    font-family: 'voltagem', sans-serif;
    text-align: center;
    margin: 80px;
}

.bloco{
    text-align: center;
}

#seconds{
    font-family:'voltagem', sans-serif;
    font-size: 90px;
}

p{
    font-family:'voltagem', sans-serif;
    font-size: 100px;
}
   

#tens{
    font-family:'voltagem', sans-serif;
    font-size: 90px;
}



#button-start {
    background-color: rgb(168, 168, 198);
    font-size: larger;
    font-family: 'voltagem', sans-serif;
    width: 170px;
    height: 50px;
    border: 5px solid;
    border-radius: 10em;
}

#button-stop {
    background-color: rgb(168, 168, 198);
    font-size: larger;
    font-family: 'voltagem', sans-serif;
    width: 170px;
    height: 50px;
    border: 5px solid;
    border-radius: 10em;
}

#button-reset {
    background-color: rgb(168, 168, 198);
    font-size: larger;
    font-family: 'voltagem', sans-serif;
    width: 170px;
    height: 50px;
    border: 5px solid;
    border-radius: 10em;

}